<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eda0e0">  <td>15/12/15 06:40:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSignIn.beforeClass()[pri:0, instance:com.smtest.test.TestSignIn@66d33a]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@328638398</td>   <td></td> </tr>
<tr bgcolor="eda0e0">  <td>15/12/15 06:40:26</td>   <td>2490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSignIn.testInvalidSigninErr(com.smtest.data.AppUser)[pri:0, instance:com.smtest.test.TestSignIn@66d33a]">testInvalidSigninErr</td> 
  <td>main@328638398</td>   <td></td> </tr>
<tr bgcolor="eda0e0">  <td>15/12/15 06:40:30</td>   <td>6207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSignIn.testSignInExistingUser(com.smtest.data.AppUser)[pri:0, instance:com.smtest.test.TestSignIn@66d33a]">testSignInExistingUser</td> 
  <td>main@328638398</td>   <td></td> </tr>
<tr bgcolor="eda0e0">  <td>15/12/15 06:40:33</td>   <td>9388</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSignIn.testVisitorSignUp(com.smtest.data.AppUser)[pri:0, instance:com.smtest.test.TestSignIn@66d33a]">testVisitorSignUp</td> 
  <td>main@328638398</td>   <td></td> </tr>
<tr bgcolor="eda0e0">  <td>15/12/15 06:40:38</td>   <td>13567</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSignIn.afterClass()[pri:0, instance:com.smtest.test.TestSignIn@66d33a]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@328638398</td>   <td></td> </tr>
</table>
